*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Medium.ttf);
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Bold.ttf);
  font-weight: 700;
  font-display: auto;
}

body {
  font-family: "Poppins";
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100%;
  background-color: #eff1f7;
  overflow-x: hidden;
}

/****************************header********************************************************/

.top-container {
  height: 800px;
  max-width: 100%;
  background-color: #ffffff;
}

.nav-size {
  height: 40px;
  max-width: 1108px;
  margin-top: 48px;
}

.navbar-brand {
  height: 32.67399978637695px;
  width: 120.04266357421875px;
  background: url(../images/logo.svg) no-repeat center;
}

.nav-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #9e9aa8;
}

.nav-link:hover {
  color: #34313d;
}

.nav-btn {
  height: 40px;
  width: 105px;
  background: #2bd0d0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.nav-btn:hover {
  background: #9ae3e3;
  color: #ffffff;
  border: none;
}

.nav-hr {
  display: none;
}

.header-content {
  max-width: 1108px;
}

.top-left-box {
  box-sizing: border-box;
  margin-top: 135px;
}

.top-left-box > h1 {
  font-weight: 700;
  font-size: 76px;
  line-height: 90px;
  letter-spacing: -3px;
}

.top-left-box > p {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
  margin-top: 5px;
}

.top-left-box > button {
  height: 56px;
  width: 197px;
  background: #2bd0d0;
  border-radius: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 30px;
}

.top-left-box > button:hover {
  background: #9ae3e3;
  color: #ffffff;
}

.top-right-box {
  position: relative;
  transform: translateY(75px);
  overflow-x: visible;
}

.top-right-box::after {
  content: "";
  position: absolute;
  background: url(../images/illustration-working.svg) no-repeat;
  z-index: -1;
  width: 733px;
  height: 482px;
}

/********************************************************main**********************************************/

main {
  max-width: 1110px;
}

.search-box {
  height: 168px;
  width: 1110px;
  border-radius: 10px;
  transform: translateY(-108px);
  background: #3a3054 url(../images/bg-shorten-desktop.svg);
}

.inp-search {
  height: 64px;
  width: 769px;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  mix-blend-mode: normal;
  padding-left: 32px;
}

.btn-search {
  height: 64px;
  width: 188px;
  border-radius: 10px;
  background: #2bd0d0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.btn-search:hover {
  background: #9ae3e3;
  color: #ffffff;
}

#error-ms {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.109091px;
  color: #f46363;
  margin-top: 8px;
}

.error-border {
  border: 3px solid #f46363;
}

.shorted-output {
  visibility: hidden;
  width: 1110px;
  height: auto;
  margin-top: -108px;
  margin-bottom: 80px;
  background-color: #ffffff;
  border-radius: 5px;
}

.orginal-url {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #34313d;
  width: 550px;
  word-wrap: break-word;
}

.shorted-hr {
  display: none;
  width: 326px;
  background: #9e9aa8;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.shorted-url {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 0.15px;
  color: #2bd0d0;
  border: none;
}

.shorted-url:focus-visible {
  border: none;
  outline: none;
}

.copy-btn {
  background: #2bd0d0;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  height: 40px;
  width: 103px;
}

.copy-btn:hover {
  background: #9ae3e3;
  color: #ffffff;
}

.copied {
  background: #3a3054;
  border: none;
}

.loading-content {
  display: none;
  margin-top: -80px;
}

.loading-content .rot {
  height: 4rem;
  width: 4rem;
  border-right: 0.1rem solid #2acfcf;
  border-radius: 50%;
  animation: rotate 2s linear infinite forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*********************advanced section*******************/

.advanced {
  height: 585px;
  width: 1110px;
}

.advanced-h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #34313d;
}

.advanced-p {
  height: 64px;
  width: 540px;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.122727px;
  color: #9e9aa8;
}

.blue-line {
  position: relative;
}

.blue-line::before {
  content: "";
  height: 8px;
  width: 1050px;
  background: #2bd0d0;
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 250px;
  margin: 0;
  z-index: -1;
}

.advanced-boxes {
  margin-top: 90px;
  padding: 32px;
  height: 267px;
  width: 350px;
  border-radius: 5px;
  background: #ffffff;
}

.icon {
  height: 88px;
  width: 88px;
  border-radius: 50%;
}

.content > h2 {
  margin-top: 33px;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  color: #34313d;
}

.content > p {
  margin-top: 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #9e9aa8;
}

.content {
  transform: translateY(-80px);
}

.icon-1 {
  background: #3a3054 url(../images/icon-brand-recognition.svg) no-repeat center;
}

.icon-2 {
  background: #3a3054 url(../images/icon-detailed-records.svg) no-repeat center;
}

.icon-3 {
  background: #3a3054 url(../images/icon-fully-customizable.svg) no-repeat
    center;
}

.Detailed-box {
  transform: translateY(50px);
}

.Fully-box {
  transform: translateY(100px);
}

/************************boost*********************************/

.boost {
  margin-top: 130px;
  height: 250px;
  width: 1440px;
  background: #3a3054 url(../images/bg-boost-desktop.svg) no-repeat;
  background-size: 1440px 250px;
}

.boost > h1 {
  margin-top: 57px;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -1px;
  color: #ffffff;
}

.boost > button {
  margin-top: 46px;
  height: 56px;
  width: 197px;
  border-radius: 28px;
  background: #2bd0d0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.boost > button:hover {
  background: #9ae3e3;
  color: #ffffff;
}

/*******************************************footer*********************/

footer {
  width: 1440px;
  height: 310px;
  background: #232127;
  padding: 71px 163px;
}

.footer-logo {
  height: 32.67399978637695px;
  width: 120.04266357421875px;
  background: url(../images/logo.svg) no-repeat top left;
  filter: brightness(0) invert(1);
}

.footer-logo:hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(45);
}

.author {
  font-size: 11px;
  text-align: start;
  color: #bfbfbf;
}
.author a {
  color: #2bd0d0;
}

.col > h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: #ffffff;
}

.nav-link:hover {
  color: #2bd0d0;
}

.footer-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.234375px;
  color: #bfbfbf;
}

.footer-icon {
  width: 24px;
  height: 24px;
}

.footer-icon:hover {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.face-book {
  background: url(../images/icon-facebook.svg) no-repeat center;
}

.twitter {
  background: url(../images/icon-twitter.svg) no-repeat center;
}

.pinterest {
  background: url(../images/icon-pinterest.svg) no-repeat center;
}

.instagram {
  background: url(../images/icon-instagram.svg) no-repeat center;
}

/* **********************************Media query***************************************** */

@media (max-width: 1400px) {
  body {
    min-height: auto;
    overflow-x: hidden !important;
    max-width: none;
  }

  .top-container {
    height: 927px;
    overflow-x: hidden;
  }

  .header-content {
    flex-direction: column;
    justify-content: space-around;
    max-width: 375px;
  }

  .nav-size {
    margin-top: 40px;
    max-width: 375px;
  }

  .navbar-collapse {
    margin-top: 23px;
    height: 383px;
    width: 327px;
    background: #3a3054;
    border-radius: 10px;
    z-index: 1;
    text-align: center;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
  }
  .navbar-light .navbar-toggler {
    border: none;
  }

  .navbar-toggler:focus {
    border: none;
    box-shadow: none;
  }

  .nav-hr {
    display: block;
    margin: auto;
    height: 1px;
    width: 279px;
    background: #9e9aa8;
    mix-blend-mode: normal;
  }

  .signup-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .login {
    margin-left: auto;
  }

  .nav-btn {
    height: 48px;
    width: 279px;
    font-size: 18px;
    line-height: 27px;
  }

  .top-left-box {
    order: 2;
    margin-top: 290px;
    padding: 0;
    text-align: center;
  }

  .top-left-box > h1 {
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -1.05px;
    height: 96px;
    max-width: 327px;
    margin-top: 63px;
  }

  .top-left-box > p {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.122727px;
    height: 90px;
    margin-top: 15px;
  }

  .top-left-box > button {
    margin: auto;
    margin-top: 32px;
  }

  .top-right-box {
    transform: translateY(0);
    order: 1;
    margin-top: 23px;
  }

  .top-right-box::after {
    height: 337px;
    width: 551px;
    background-size: contain;
  }

  /*********************main (MQ)**********************************/

  main {
    max-width: 327px;
  }

  .search-box {
    margin: 0;
    transform: translateY(-80px);
    height: auto;
    width: 327px;
    background: #3a3054 url(../images/bg-shorten-mobile.svg) no-repeat top right;
    text-align: center;
    padding: 24px;
  }

  .search-holder {
    margin: 0;
    padding: 0;
  }

  .inp-search {
    height: 48px;
    width: 279px;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 0.12px;
    padding-left: 16px;
  }

  .btn-search {
    height: 48px;
    width: 279px;
    border-radius: 5px;
    margin-top: 16px;
    font-size: 18px;
    line-height: 27px;
  }

  #error-ms {
    font-size: 12px;
    line-height: 18px;
    text-align: start;
  }

  .shorted-output {
    width: 327px;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding: 16px;
    margin-bottom: 0;
  }

  .orginal-url {
    font-size: 16px;
    letter-spacing: 0.12px;
    padding: 0 16px 0 16px;
    width: 327px;
    word-wrap: break-word;
  }

  .shorted-hr {
    display: block;
  }

  .shorted-url {
    font-size: 16px;
    letter-spacing: 0.12px;
    text-align: center;
  }

  .copy-btn {
    height: 40px;
    width: 295px;
    font-size: 16px;
    line-height: 24px;
  }

  .loading-content {
    margin-top: 0;
  }

  /*******************************advanced (MQ)*****************************/

  .advanced {
    height: auto;
    width: 375px;
    align-content: center;
  }

  .advanced-h1 {
    font-size: 28px;
    letter-spacing: -0.7px;
  }

  .advanced-p {
    width: 327px;
    height: 84px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.109091px;
  }

  .blue-line::before {
    content: "";
    height: 1014px;
    width: 8px;
    top: 50px;
    left: 50%;
  }

  .box-holder {
    justify-content: center !important;
  }

  .content {
    text-align: center;
  }

  .advanced-boxes {
    height: 267px;
    width: 327px;
    z-index: 1;
  }

  .icon {
    transform: translateX(100%);
  }

  /************************boost*********/

  .boost {
    height: 300px;
    width: 375px !important;
    background: #3a3054 url(../images/bg-boost-mobile.svg) no-repeat;
    background-size: 375px 300px;
  }

  .boost > h1 {
    font-size: 28px;
    letter-spacing: -0.7px;
  }

  /*********************************footer (Mq)*************************************/

  footer {
    height: auto;
    width: 375px;
    padding: 0;
  }

  .mobile-footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin: 40px 0 20px 0 !important;
  }

  .footer-box {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .author {
    margin: 0;
    margin-bottom: 5px;
  }
}
